

.home_content {
 display: flex;
 width: 100%;

}

.content_Home{
width: 50%;

}

.content{
  padding-bottom: 30px;
  width: 60%;
  
}
.img
{
  position: relative;
  width: 50%;
}

.van{
  position: absolute;
  top:40%;
}

.heading{
  font-family:"Inter", sans-serif;
  font-weight: 900;
  font-size: 60px;
  padding-top: 50px;
}

.content{
  font-family:"Inter", sans-serif;
  font-weight: 500;
  font-size: 20px;
  color: #AAAAAA;
}
.Address{
  display: flex;
  flex-direction: column;
  width: 40%;
padding: 10px;
width: 100%;

  
}
.input {
  height: 50px;
border-radius: 10px;
border: transparent;
margin-top: 20px;
padding-left: 10px;

}
.calender{
  padding : 5px 10px 10px 10px;

}
.input_calender{

  height: 50px;
  border-radius: 10px;
  border: transparent;
  color: #AAAAAA;
  

  ;
 
}

.card{
  width: 350px;
  height: 300px;
  background-color: #302F4A;
  border: 0.798544px solid #666666;
  border-radius: 20px;
  
}

.dropdown{
  height: 50px;
  border-radius: 10px;
  border: transparent;
  margin: 0px 0px 0px 8px; 
  width: 75px;
  
}





.submit{
  height: 50px;
  border-radius: 10px;
  border: transparent;
  margin: 0px 0px 0px 8px; 
  width: 95%;
  background-color :  #FFD400;
}









.bot-car{
position: relative;
 
  left: 50%;
  
  

  z-index: 1000;
  -webkit-animation: movebotcar 5s infinite; 
}



  .hidden{
  display: none !important;
}@keyframes movebotcar {
    from {left : 100%;}
    to {left: 10%;}
}


/*About Style */


.about_container{
  width: 98%;
  padding-left: 20px;

}


.about_section_one{
  display: flex;
  flex-wrap: wrap;
}
  .about{
  
    background-color:  #FFFFFF;
   padding: 78px 70px 90px 80px;
   border-radius: 20px;
  
justify-content: center;


    
  }
  .img_about{
    width: 50%;
  }

  .about_content{
    width: 50%;
  }

.btn_about {
padding-top: 24px;
width: 200px;
height: 70px;


}


  .details{
 
  border-radius: 12px;
  border: transparent;
 

  color: 20111;
  background-color :  #FFD400;
  font-weight: 600;
  font-size: 14px;
  line-height: 30px;
 

}

.heading_up_about
{
  font-family:"Inter", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
padding-top: 12px;
color: #012;
}

.heading_about
{
  font-family:"Inter", sans-serif;
  font-weight: 900;
  font-size: 45px;
  color: #020111;
 
  
 
}
.about_description{
width: 548px;
  height: 207px;
    font-family:"Inter", sans-serif;
  font-weight: 400;
  font-size: 16px;
    color: #666666;
    line-height: 30px;
}


.container_boxes {

display: flex;
justify-content: center;
align-items: center;


}

.box {
  display: flex;
 
 
  align-items: center;
 
  background-repeat: no-repeat;
  background-position: center;

}

.vertical_line {
  width: 1px;
  height: 80px;
  background-color: #AAAAAA;
}

.description_icon{
 
display: flex;

flex-direction: column;
align-items: center;


}

.heading_up_box
{
  font-family:"Inter", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
padding-top: 12px;
color: #012;
}


.box_description{
width: 250px;
  height: 250px;
    font-family:"Inter", sans-serif;
  font-weight: 400;
  font-size: 16px;
    color: #666666;
    line-height: 30px;
}


/* steps part*/
.box_step{
  display: flex;
 
  justify-content: space-between;


}
.steps_description{
  width: 548px;
    height: 207px;
      font-family:"Inter", sans-serif;
    font-weight: 400;
    font-size: 16px;
      color: #666666;
      line-height: 30px;
  }
  .heading_up_steps
  {
    font-family:"Inter", sans-serif;
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
  padding-top: 12px;
  color: #012;
  }
  


 
  .steps_content
  {
    font-family:"Inter", sans-serif;
    font-weight: 900;
    font-size: 45px;
    color: #020111;
 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
 
  }


  .steps_description{
 
      font-family:"Inter", sans-serif;
    font-weight: 400;
    font-size: 16px;
      color: #AAAAAA;
      line-height: 30px;
      padding-top: 20px;
     
  }
  


.icon .number {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family:"Inter", sans-serif;
  font-weight: 900;
  font-size: 60px;
  color: #fefefe;
  padding: 5px 10px;
  border-radius: 50%;
  font-weight: bold;
}
.icon {
  position: relative;
  display: inline-block;
  display: flex;

flex-direction: column;
align-items: center;
}

.number span{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);


  width: 20px;;
  height: 20px;
  border-radius: 50%;
  text-align: center;
  line-height: 20px;
  font-size: 12px;
}


.step_description{
  font-family:"Inter", sans-serif;
  font-weight: 400;
  font-size: 16px;
    color: #666666;
    line-height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
 
}
.heading_up_step{
  font-family:"Inter", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;

color: #012;
}

/* Services css*/


.service_container{


}
  .service{
    display: flex;
  flex-wrap: wrap;
    background-color:  #25243A;
   width: 100%;
   border-radius: 20px;
 justify-content: center;


    
  }
  .img_service{
    width: 50%;
  }

  .service_content{
    width: 50%;
  }


  .details{
  height: 40px;
  border-radius: 10px;
  border: transparent;
  
  width: 150px;
  color: 20111;
  background-color :  #FFD400;
  font-weight: 600;
  font-size: 14px;
}

.heading_up_service
{
  font-family:"Inter", sans-serif;
  font-weight: 700;
  font-size: 20px;

color: #FFFFFF;
}

.heading_service
{
  font-family:"Inter", sans-serif;
  font-weight: 900;
  font-size: 45px;
  color: #FFFFFF;
  
 
}
.service_description{
    font-family:"Inter", sans-serif;
  font-weight: 400;
  font-size: 16px;
    color:  #FFFFFF;
    ;
}

.cards{
  display: flex;
  flex-wrap: wrap;
  
}

.parteners{
  border-bottom: 1px solid  #aaaaaa;
  ;
}

.partners_logo{
  display: flex;
  justify-content: space-evenly;
 
}
.partner_img{
  padding-left: 50px;
}
.partner{
  
    display: flex;
  flex-wrap: wrap;
    background-color:  #FFFFFF;
   width: 100%;
   border-radius: 20px;
 
justify-content: center;

    
  
}
.bulletin{
  display: flex;
  justify-content: space-around;
}

/* downlaod style */


.download_container{
  display: flex;
  border-bottom: 1px solid  #aaaaaa;

}
.download{
  display: flex;

  background-color:  #ffffff;
 width: 100%;
 border-radius: 20px;
justify-content: center;

background-color:  #25243A;
  
}
.img_downlaod{
  width: 50%;
}

.downlaod_content{
  width: 50%;
}


.details{
height: 40px;
border-radius: 10px;
border: transparent;

width: 150px;
color: 20111;
background-color :  #FFD400;
font-weight: 600;
font-size: 14px;
}

.heading_up_downlaod
{
font-family:"Inter", sans-serif;
font-weight: 700;
font-size: 20px;

color: #FFFFFF;
}

.heading_downlaod
{
font-family:"Inter", sans-serif;
font-weight: 900;
font-size: 45px;
color: #FFFFFF;


}
.downlaod_description{
  font-family:"Inter", sans-serif;
font-weight: 400;
font-size: 16px;
  color:  #FFFFFF;
  ;
}     /*map style*/


.map_container{
  display: flex;

}
.map{
  display: flex;

  background-color:  #ffffff;
 width: 100%;
 border-radius: 20px;
justify-content: center;

background-color:  #25243A;
  
}
.img_map{
  width: 50%;
}

.map_content{
  width: 50%;
}


.details{
height: 40px;
border-radius: 10px;
border: transparent;

width: 150px;
color: 20111;
background-color :  #FFD400;
font-weight: 600;
font-size: 14px;
}

.heading_up_map
{
font-family:"Inter", sans-serif;
font-weight: 700;
font-size: 20px;

color: #FFFFFF;
}

.heading_map
{
font-family:"Inter", sans-serif;
font-weight: 900;
font-size: 45px;
color: #FFFFFF;


}
.map_description{
  font-family:"Inter", sans-serif;
font-weight: 400;
font-size: 16px;
  color:  #FFFFFF;
  ;
}

.contacts {
  display: flex;
  flex-direction: column;
}

.address {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.image {
  width: 50px; /* adjust the width as needed */
  height: 50px; /* adjust the height as needed */
  margin-right: 10px;
}

.text {
  font-size: 16px; /* adjust the font size as needed */
}

.GetEstimate {
  position: relative;
  background-image: url('assets/images/block.png');
  background-size: cover;
  background-position: center;
  height: 300px; /* Set an appropriate height for the container */
  display: flex;
  align-items: center;
  justify-content: center;
}

.GetEstimate .text {
  color: rgb(67, 5, 5);
  font-size: 24px;
  text-align: center;
  /* Add any other styles you want for the text */
}



.heading_GetEstimate
{
  font-family:"Inter", sans-serif;
  font-weight: 900;
  font-size: 45px;
  color: #020111;
  
 
}
.GetEstimate_description{
    font-family:"Inter", sans-serif;
  font-weight: 400;
  font-size: 16px;
    color: #666666;
}